.venv/
venv/
ENV/
env/
venv\
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
media/
*.log
.env
.venv
.vscode/
*.egg-info/
dist/
build/
coverage/
htmlcov/
pip-wheel-metadata/
node_modules/
.DS_Store
*.pyc
*.pyo
